<!----------------------------------------------------------------------------------------------------------------------
  -- App
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="app">
        <site-header></site-header>
        <router-view></router-view>
        <site-footer></site-footer>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
	#app {
		height: calc(100% - 64px);
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts">
	//------------------------------------------------------------------------------------------------------------------

    import Vue from 'vue';

	// Components
    import SiteHeader from './components/ui/header.vue';
    import SiteFooter from './components/ui/footer.vue';

    //------------------------------------------------------------------------------------------------------------------

    export default Vue.extend({
        components: {
            siteHeader: SiteHeader,
            siteFooter: SiteFooter
        }
    });
</script>

<!--------------------------------------------------------------------------------------------------------------------->
