//----------------------------------------------------------------------------------------------------------------------
// Theme Variable Overrides
//
// Note: Mixins, or referencing other Bootstrap variables does not work here. You must copy in everything you need
// first. Avoid the temptation to simply import Bootstrap's `_variables.scss` file, as that will override our overrides.
//
//----------------------------------------------------------------------------------------------------------------------

//$font-family-sans-serif: 'Titillium Web', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
//    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
//    "Noto Color Emoji" !default;

// Theme colors
$primary: #FF9900 !default;
$secondary: #6c757d !default;
$success: #009900 !default;
$info: #19b0f5 !default;
$warning: #e48800 !default;
$danger: #D03619 !default;
$light: #eef0f3 !default;
$dark: #424242 !default;

// Other Color definitions
$white: #FFFFFF !default;
$gray-200: #eef0f3 !default;

// Theme Options
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;
$enable-validation-icons: true;

// Tables
//$table-accent-bg: #E7F1F8 !default;

// Navbars
//$navbar-dark-color: rgba($white, .90);
//$navbar-dark-hover-color: $white;
//$navbar-dark-active-color: $white;
//$navbar-dark-disabled-color: rgba($white, .5);

//----------------------------------------------------------------------------------------------------------------------
