<!----------------------------------------------------------------------------------------------------------------------
  -- Footer
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <footer id="site-footer" class="container text-center">
        <hr class="mt-0 fancy" />
        <div class="mb-2">
            Palaver v{{ version }}
        </div>
    </footer>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
    #site-footer {
        color: #aaa;
        font-size: 12px;
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
    //------------------------------------------------------------------------------------------------------------------

    import { version } from '../../../package.json';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'SiteFooter',
        data()
        {
            return {
                version
            };
        }
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
