<!----------------------------------------------------------------------------------------------------------------------
  -- Main Page
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <div id="main-page" class="container">
        Would display useful shit here, but for now, enjoy this:

        <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">This is a prescheduled tweet.<br><br>Today&#39;s <a href="https://twitter.com/hashtag/SuperSongSaturday?src=hash&amp;ref_src=twsrc%5Etfw">#SuperSongSaturday</a> is Taken For A Ride, by Tally Hall. <a href="https://t.co/VMnGZSySUy">https://t.co/VMnGZSySUy</a><br><br>Yay.</p>&mdash; ParadoxByCoronum (@ParadoxCoronum) <a href="https://twitter.com/ParadoxCoronum/status/1340458482529497089?ref_src=twsrc%5Etfw">December 20, 2020</a></blockquote>
    </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
	#main-page {
        margin-top: 0.65rem;
        margin-bottom: 0.65rem;
	}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script lang="ts">
    //------------------------------------------------------------------------------------------------------------------

    export default {
        data()
        {
            return {
            };
        },
        computed: {
        },
        mounted()
        {
        }
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
